@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --rojo-dark: #EF2D56;
    --amarillo-dark: #DCED31;
    --verde-dark: #04fc43;
    --rojo-light:#e7a6cd;
    --amarillo-light: #d8d398;
    --verde-light: #90B494;
    --dark-bg: #2f363e;
    --light-bg: #F2F2F2;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center  ;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    min-width: 800px;
    color: #fff;
}

#time{
    display: flex;
    justify-content: space-between;
    margin: 7em 2.5em 4em 7em;
}

#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919ce;
    stroke-width: 5;
    transform: translate(2px, 5px);
}

#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time div span{
    position: absolute;
    font-size: 0.35em;
    transform: translateX(-50%);
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#time .ap{
    position: relative;
    font-size: 1em;
    transform: translateX(-10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
}

#ampm{
    top: 11px;
}


.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    top: -3px;
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 20px 50px;
}

.logos{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items:center;
    vertical-align: middle;
    gap: 24px;
}

.logos a {
    display: block;
    background: #333;
    color: white;
    transition: .2s;
    font-size: 1.4em;
}



.logos a :hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(116, 114, 114, 0.149);
    
}


/*BOTON 1 */

label{
    position: relative;
    width: 110px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

label::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 6px;
    background: #727272;
    border-radius: 4px;
}

label input{
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
    z-index: 1;
}

.icon{
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    transition: 0.5s;
}

label input:checked ~ .icon{
    left: 60px;
}

.icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(#fff, #fff, #e3e3e3);
    filter: blur(1px);
    z-index: 1;
}

.icon::after{
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 10px;
    height: 100%;
    background: #9d9d9d;
    filter: blur(1px);
}

.iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.04),
    15px 15px 15px  rgba(0, 0, 0, 0.256),    
    inset 1px 1px 2px #fff; 
}

.iconBox .fa{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    color: #555;
    transition: 0.5s;
}

label input:checked ~ .icon  .iconBox .fa {
    color: #00ffe3;
}


/*DARK MODE*/

.dark{
    background-color: var(--dark-bg);
}

.light{
    background-color: var(--light-bg);
}
